html, body {
	margin: 0;
	padding: 0;
}





.container {
  margin: 20 auto;
  max-width: 940px; 
  padding: 0 0; 
}

.btn {
  width: 400px;
  display: block;
  background-color: #333;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-left: 275px;
}

/* Welcome Section */
.welcome {
  height: 700px;
  color: #fff;
  text-align: center;
	background-image: url(../img/highlight_photos/DSC00104.JPG);
  background-size: cover;
}
.welcome h1 {
  font-family: 'Megrim', sans-serif; 
  font: white;
  font-size: 100px;
  margin-top: 200px;
}
.welcome p {
  font-size: 25px;
}

/* Quick Search Section */
.quick {
  height: 50px; 
  color: #fff;
  text-align: center;
  background-size: 50px cover;
  background-color: #333;
  vertical-align: bottom;
}

.quick p {
  margin-top: 15px;
}

#parent {
  position:relative;
}
#child {
  position:absolute;
  bottom:0;
}

/* Instagram Feed */
#insta_feed{
  color: #fff;
  height: 200px;
  width: cover;
  text-align: center;
}
#insta_feed img {
  height: 50px;
}

/* Intro Video Section */
.intro_vid {
  height: 600px;
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: center;
  background-image: url(../img/highlight_photos/DSC00077.JPG);
  background-size: cover; 
}

.intro_vid h1 {
  width: 600px;
  font-size: 100px;
  margin-top: 200px;
  background:rgba(51, 51, 51, 0.4);
  margin-left: 175px;
}
#intro_vid_btn {
  width: 200px;
  margin-left: 350px;
}

/* Highlights Section */
.highlights {
  margin-top: 50px;
}
.highlights h1 {
  color: white;
  text-align: center;
  font-size: 100px;
  /*margin-top: 200px;*/
  background:rgba(51, 51, 51, 0.4);
  z-index: +1;
}
.row img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0px 0px;
  padding: 0px 0px;
  z-index: -1;
}
/* Highlights Section */


/* Recent Highlights Carousel */
.carousel-inner {
  height: 700px;
  margin-top: 50px;
}
.carousel-inner img{
    height: auto;
}
.carousel-caption {
  margin-bottom: 120px;
}
/* Recent Highlights Carousel */ 


/* Community Section */
.community {
  margin-top: 50px;
  height: 500px;
}
#start {
  text-align: center;
  height: 500px;
  margin-left: 60px;
  background-image: url(../img/Thinkstock/get_started_cropped.jpg);
  background-size: cover;
  color: #fff;
}
#start:hover{
  font-size: 50px;
}
#start:hover h2 {
  padding-top: 100px;
  border-bottom: 2px solid white;
}
#start h2{
  padding-top: 150px;
  font-size: 50px;
}
#family {
  text-align: center;
  height: 500px;
  background-image: url(../img/Thinkstock/group_hike_cropped.jpg);
  background-size: cover;
  color: #fff;
}
#family:hover{
  font-size: 50px;
}
#family:hover h2 {
  padding-top: 100px;
  border-bottom: 2px solid white;
}
#family h2{
  padding-top: 150px;
  font-size: 50px;
}
#team {
  text-align: center;
  height: 500px;
  background-image: url(http://cache1.asset-cache.net/xc/478937419.jpg?v=2&c=IWSAsset&k=2&d=uk8tsCDdMH-ePkCF2nV2z0WcN9rEeoa4hEPMCV6dUFiQWbO3_L343Tei79BeWYTU0);
  background-size: cover;
  color: #fff;
}
#team:hover{
  font-size: 50px;
}
#team:hover h2 {
  padding-top: 50px;
  border-bottom: 2px solid white;
}
#team h2{
  padding-top: 150px;
  font-size: 50px;
}
/* End Community Section */


/* Footer */
.footer {
  margin-top: 50px;
  height: 200px;
  background-color: #333;
  color: white;
  text-align: center;
}
.footer ul {
  margin-top: 20px;
}

.footer li {
  display: inline-block;
  padding: 20px 15px;
}

.footer a {
  color: white;
  font-style: none;
}
/* End Footer */