body {
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}

#landing {
  background-image: url(../img/highlight_photos/DSC00104.jpg); 
  height: 100%;
  background-size: cover;
  text-align: center;
}
#landing h1 {
  font-size: 100px;
  color: #fff;
}
#landing h3 {
  font-size: 40px;
  color: #fff;
}
#company {

}

img {
  display: inline-block;
}
h1 {
  padding-top: 200px;
  display: inline-block;
}

#mc_embed_signup{
  clear:left; 
  font:14px Helvetica,Arial,sans-serif; 
}
#mce-EMAIL {
  width: 300px;
  margin-top: 25px;
}
#mc-embedded-subscribe {
  margin-top: 10px;
}

