@import url(normalize.css);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600);
@import url(http://fonts.googleapis.com/css?family=Raleway:700,500,400);
@font-face {
	font-family: 'Gauge';
	src: url('fonts/Gauge-Regular.otf');
}
body {
	margin: 0;
/*	background-color: #fcc;*/
}
h3 {
	margin: 0 auto;
	padding: 0em;
	font-family: Raleway, 600;
}
.panel {
  background: transparent url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/feature-gradient-transparent.png') center center no-repeat;
  background-size: cover;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.container {
	height: 500px;
	width: 100%
} 


/* Page Nav Bar */
#nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #333;
	margin: 0 auto;
	z-index: 1;
	font-family: Raleway, 600;
	opacity: 0.85;
}
#nav p {
	padding-left: 1em;
}
#nav a {
	color: rgba(200,200,200,1);
	text-decoration: none;
}
#nav ul a {
	color: rgba(200,200,200,1);
	text-decoration: none;
}
/* End Page Nav Bar */


#trailMap {
	margin-top: 3.5em;
	padding: 0em;
	height: 500px;
}

/* Trail Navigation */
#trailnav {
	width: 100%;
	background-color: white;
	font-size: 1.25em;
	margin-top: 0px;
	padding: 0em;
	margin-bottom: 20px;
	display: block;	
}
#trailnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Raleway, 400;
}
#trailnav ul li {
	padding: 0.5em 1em;
	display: inline-block;
	text-align: center;
}
#trailnav ul li a {
	font-family: Raleway, 400;
	padding: 0.5em 0.5em;
	color: rgba(128,128,128,1);
	text-decoration: none;
}
#trailnav ul li:hover > ul {
	display: block;
}
#trailnav ul li a:hover {
	color: #fff;
}
#trailnav ul ul {
	display: none;
	background: #5f6975;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
}
#trailnav ul ul li {
	float: none;
	text-align: left;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
	display: block;
}
#trailnav ul ul li a img:hover {
	color: rgba(255,255,255,1);
}

#trailnav img {
	max-height: 20px;
	max-width: 20px;
}
/* End Trail Navigation */

/* Trail Info */
.trailInfo{
	margin-top: 50px;
	height: 150px;
}
#quickInfo{
	margin-left: 60px;
}
/* End Trail Info */

/* Prep Map */
#prep_map {
	height: 500px;
  width: 80vh;
  width: 100%;
  max-width: 1920px;
  margin-top: 0em;
  position: relative;
  margin-top: 50px;
}

.active-slide-map {
    display: block;
}
/* End Prep Map */

/* Prep Map Navigation */
#prepMapnav {
	width: 100%;
	background-color: white;
	font-size: 1.25em;
	z-index: 1;
	padding: 0em;
	margin-bottom: 20px;
}
#prepMapnav ul {
	list-style-type: none;
	text-align: center;
	font-family: Raleway, 400;
}
#prepMapnav ul li {
	padding: 0.5em 1em;
	display: inline-block;
	text-align: center;
}
#prepMapnav ul li a {
	font-family: Raleway, 400;
	padding: 0.5em 0.5em;
	color: rgba(128,128,128,1);
	text-decoration: none;
}
#prepMapnav ul li:hover > ul {
	display: block;
}
#prepMapnav ul li a:hover {
	color: #fff;
}
#prepMapnav ul ul {
	display: none;
	background: #5f6975;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
}
#prepMapnav ul ul li {
	float: none;
	text-align: left;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
	display: block;
}
#prepMapnav ul ul li a img:hover {
	color: rgba(255,255,255,1);
}

#prepMapnav img {
	max-height: 20px;
	max-width: 20px;
}
/* End Prep Map Navigation */


/* Prep Gear Slider */
#prep_gear {
  height: 500px;
  width: 80vh;
  width: 100%;
  max-width: 1920px;
  margin-top: 0em;
  position: relative;
  margin-top: 50px;
}
#prep_gear h3 {
  margin: 0 auto;
  padding: 0em;
  font-family: Raleway, 600;
  display: inline-block;
}
.active-slide-gear {
    display: block;
}

.active-slide-nearby {
    display: block;
}

.active-btn{
	background-color: #333;
	opacity: .5;
}
/* End Prep Slider */



/* Prep Gear Slides */
#promoted_clothes img{
	height: 400px;	
	width: 500px;
}
#promoted_pack img{
	height: 120%;	
	width: 140%;
}
#promoted_food img{
	height: 120%;	
	width: 140%;
}
#promoted_sleep img{
	height: 120%;	
	width: 140%;
}
#promoted_safety img{
	height: 120%;	
	width: 140%;
}
#promoted_play img{
	height: 120%;	
	width: 140%;
}
/* End Prep Gear Slides */

/* Prep Gear Navigation */
#prepGearnav {
	width: 100%;
	background-color: white;
	font-size: 1.25em;
	z-index: 1;
	padding: 0em;
	margin-bottom: 20px;
}
#prepGearnav ul {
	list-style-type: none;
	text-align: center;
	font-family: Raleway, 400;
}
#prepGearnav ul li {
	padding: 0.5em 1em;
	display: inline-block;
	text-align: center;
}
#prepGearnav ul li a {
	font-family: Raleway, 400;
	padding: 0.5em 0.5em;
	color: rgba(128,128,128,1);
	text-decoration: none;
}
#prepGearnav ul li:hover > ul {
	display: block;
}
#prepGearnav ul li a:hover {
	color: #fff;
}
#prepGearnav ul ul {
	display: none;
	background: #5f6975;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
}
#prepGearnav ul ul li {
	float: none;
	text-align: left;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
	display: block;
}
#prepGearnav ul ul li a img:hover {
	color: rgba(255,255,255,1);
}

#prepGearnav img {
	max-height: 20px;
	max-width: 20px;
}
/* End Prep Navigation */


#nearbyCarousel {
	width: 100%;
	background-color: white;
	font-size: 1.25em;
	padding: 0em;

}
.row img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0px 0px;
  padding: 0px 0px;
  z-index: -1;
}
/* Highlights Section */


/* Recent Highlights Carousel */
.carousel-inner {
  height: 700px;
  margin-top: 50px;
}
.carousel-inner img{
    height: auto;
}
.carousel-caption {
  margin-bottom: 120px;
}
/* Recent Highlights Carousel */ 


#more {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;  
}

#more img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}


/* Footer */
#footer {
	background-color: #333;
	height: 100px;
	color: white;
  	text-align: center;
}
#footer h3 {
	font-family: Raleway, 400;
	color: rgba(128,128,128,1);
	text-align: right;
	font-size: 0.5em;
	padding: 0.25em;
	margin: 0 auto;
}
.footer li {
  display: inline-block;
  padding: 20px 15px;
}
.footer a {
  color: white;
  font-style: none;
}