@import url(normalize.css);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600);
@import url(http://fonts.googleapis.com/css?family=Raleway:700,500,400);
@font-face {
	font-family: 'Gauge';
	src: url('fonts/Gauge-Regular.otf');
}
body {
	margin: 0;
/*	background-color: #fcc;*/
}
h3 {
	margin: 0 auto;
	padding: 0em;
	font-family: Raleway, 600;
}
#wrapper {
	background-color: #cfc;
	margin: 0 auto;
}
#nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #333;
	margin: 0 auto;
	z-index: 1;
	font-family: Raleway, 600;
	opacity: 0.85;
}
#nav p {
	padding-left: 1em;
}
#nav a {
	color: rgba(200,200,200,1);
	text-decoration: none;
}
#nav ul a {
	color: rgba(200,200,200,1);
	text-decoration: none;
}


#map {
	margin-top: 3.5em;
	padding: 0em;
	height: 500px;
}

/* Trail Navigation */
#trailnav {
	width: 100%;
	background-color: white;
	font-size: 1.25em;
	margin-top: 0px;
	padding: 0em;
	margin-bottom: 20px;
	display: block;	
}
#trailnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Raleway, 400;
}
#trailnav ul li {
	padding: 0.5em 1em;
	display: inline-block;
	text-align: center;
}
#trailnav ul li a {
	font-family: Raleway, 400;
	padding: 0.5em 0.5em;
	color: rgba(128,128,128,1);
	text-decoration: none;
}
#trailnav ul li:hover > ul {
	display: block;
}
#trailnav ul li a:hover {
	color: #fff;
}
#trailnav ul ul {
	display: none;
	background: #5f6975;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
}
#trailnav ul ul li {
	float: none;
	text-align: left;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid ##575f6a;
	position: relative;
	display: block;
}
#trailnav ul ul li a img:hover {
	color: rgba(255,255,255,1);
}

#trailnav img {
	max-height: 20px;
	max-width: 20px;
}
/* End Trail Navigation */


/* Advertisement */
#advertise {
	height: 50px;
	width: 1000px;
	border: 1px solid #333;
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
	margin-left: 200px;
}
/* End Advertisement */


/* Prep Slider */
#prep {
  height: 500px;
  width: 80vh;
  width: 100%;
  max-width: 1920px;
  margin-top: 0em;
  position: relative;
  margin-top: 20px;
}

#prep h3 {
  margin: 0 auto;
  padding: 0em;
  font-family: Raleway, 600;
  display: inline-block;
}

.slide {
  background: transparent url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/feature-gradient-transparent.png') center center no-repeat;
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-slide-prep {
    display: block;
}

.active-slide-nearby {
    display: block;
}

.active-btn{
	background-color: #333;
	opacity: .5;
}

#explain-slide{
  background: url(../img/highlight_photos/DSC00052.jpg) 50%; 
}
/* End Prep Slider */


/* Prep Navigation */
#prepnav {
	width: 100%;
	background-color: white;
	font-size: 1.25em;
	z-index: 1;
	padding: 0em;
	margin-bottom: 20px;
}
#prepnav ul {
	list-style-type: none;
	text-align: center;
	font-family: Raleway, 400;
}
#prepnav ul li {
	padding: 0.5em 1em;
	display: inline-block;
	text-align: center;
}
#prepnav ul li a {
	font-family: Raleway, 400;
	padding: 0.5em 0.5em;
	color: rgba(128,128,128,1);
	text-decoration: none;
}
#prepnav ul li:hover > ul {
	display: block;
}
#prepnav ul li a:hover {
	color: #fff;
}
#prepnav ul ul {
	display: none;
	background: #5f6975;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
}
#prepnav ul ul li {
	float: none;
	text-align: left;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid ##575f6a;
	position: relative;
	display: block;
}
#prepnav ul ul li a img:hover {
	color: rgba(255,255,255,1);
}

#prepnav img {
	max-height: 20px;
	max-width: 20px;
}
/* End Prep Navigation */


/* Nearby Trails Slider */
.nearby {
  height: 500px;
  width: 80vh;
  width: 100%;
  max-width: 1920px;
  position: relative;
}

#nearby1 {
	background-image: url(../img/highlight_photos/DSC00053.jpg);
}
#nearby2 {
	background-image: url(../img/highlight_photos/DSC00054.jpg);
}
#nearby3 {
	background-image: url(../img/highlight_photos/DSC00067.jpg);
}
#nearby4 {
	background-image: url(../img/highlight_photos/DSC00077.jpg);
}
#nearby5 {
	background-image: url(../img/highlight_photos/DSC00082.jpg);
}
/* End Nearby Trails Slider */


/* Nearby Trails Navigation */
.nearby-nav {
  text-align: center;
  margin-top: 20px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}
/* End Nearby Trails Navigation */


#more {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;  
}

#more img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}


/* Footer */
#footer {
	background-color: #333;
	height: 100px;
	color: white;
  	text-align: center;
}
#footer h3 {
	font-family: Raleway, 400;
	color: rgba(128,128,128,1);
	text-align: right;
	font-size: 0.5em;
	padding: 0.25em;
	margin: 0 auto;
}
.footer li {
  display: inline-block;
  padding: 20px 15px;
}
.footer a {
  color: white;
  font-style: none;
}