<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" ng-app="mainRouter">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<script language="javascript">
	    if (typeof(UserAgentInfo) != 'undefined' && !window.addEventListener) {
	        UserAgentInfo.strBrowser=1;
	    }
	</script>
	<style>
		body {
			overflow-x:hidden;
		}
	</style>
	<title>Trail Walker</title>
	<link rel="shortcut icon" type="image/png" href="/img/logo"/>
	<link rel="shortcut icon" type="image/png" href="/"/>

	<!-- Bootstrap Core CSS -->
	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	
	<link href="css/bootstrap-datepicker.css" rel="stylesheet" />

	<!-- 3rd Party -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/bootstrap/js/transition.js"></script>
	<script src="bower_components/bootstrap/js/collapse.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/d3.v3.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background:rgba(215, 112, 44, 0.4);">
	<div class="navbar-background">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<i class="glyphicon glyphicon-tree-conifer pull-left" style="color:#fff;font-size:35px;margin-left:20px;margin-top:8px;"></i>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
				<span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/#/" style="color:#fff;">Chisel</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav"></ul>
			<ul class="nav navbar-nav navbar-right">
				<a class="navbar-brand" href="/register">Sign Up</a>
				<a class="navbar-brand" href="/login">Login</a>
				<a class="navbar-brand" href="/about">About</a>
				<a class="navbar-brand" href="/trail.html">Test Page</a>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	</nav>
	<div class="section">
		<img src="/img/alpha_map.tiff" style="width:100%;height:auto;"></img>
	</div>
</body>
</html>